table {
    background-color: #fff;
    width: 100%;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 20px;
}
thead {
    width: 100%;
}
tr {
    width: 100%;
}
thead tr {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    background-color: #f2f2f2;
}
thead td {
    text-align: center;
    padding: 10px 0;
    border-right: 1px solid #ccc;
}
thead td:nth-child(1) {
    width: 10%;
}
thead td:nth-child(2) {
    width: 10%;
}
thead td:nth-child(3) {
    width: 10%;
}
thead td:nth-child(4) {
    width: 10%;
}
thead td:nth-child(5) {
    width: 10%;
}
thead td:nth-child(6) {
    width: 10%;
}
thead td:nth-child(7) {
    width: 40%;
    border-right: none;
}

tbody tr {
    border-bottom: 1px solid #ccc;
}
tbody td {
    padding: 15px 5px;
    border-right: 1px solid #ccc;
    text-align:center;
    vertical-align:middle;
}
tbody td:nth-child(1) {
    width: 10%;
}
tbody td:nth-child(2) {
    width: 10%;
}
tbody td:nth-child(3) {
    width: 10%;
}
tbody td:nth-child(4) {
    width: 10%;
}
tbody td:nth-child(5) {
    width: 10%;
}
tbody td:nth-child(6) {
    width: 10%;
}
tbody td:nth-child(7) {
    width: 40%;
    border-right: none;
}

.admin_button {
    width: 160px;
    margin-bottom: 10px;
    padding: 0 10px;
    height: 24px;
    border-radius: 4px;
    font-size: 12px;
    background-color: #fff;
    color: #000;
    border: 1px solid #ccc;
}
.admin_button a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.active-button {
    width: 80%;
    margin-top: 10px;
    padding: 0 10px;
    height: 24px;
    border-radius: 4px;
    font-size: 12px;
    background-color: #f2f2f2;
    color: #000;
    border: 1px solid #ccc;
}

.stop-button {
    width: 80%;
    margin-top: 10px;
    padding: 0 10px;
    height: 24px;
    border-radius: 4px;
    font-size: 12px;
    background-color: #fdecea;
    border: 1px solid #f5c6cb;
    color: #000;
}
.edit-button {
    width: 80%;
    padding: 0 10px;
    height: 24px;
    border-radius: 4px;
    font-size: 12px;
    background-color: #f2f2f2;
    color: #000;
    border: 1px solid #ccc;
}