table {
    background-color: #fff;
    width: 100%;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 20px;
}
thead {
    width: 100%;
}
tr {
    width: 100%;
}
thead td:nth-child(1) {
    width: 10%;
}
thead td:nth-child(2) {
    width: 10%;
}
thead td:nth-child(3) {
    width: 10%;
}
thead td:nth-child(4) {
    width: 10%;
}
thead td:nth-child(5) {
    width: 10%;
}
thead td:nth-child(6) {
    width: 10%;
}
thead td:nth-child(7) {
    width: 40%;
}
