table {
    background-color: #fff;
    width: 100%;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 20px;
}
thead {
    width: 100%;
}
tr {
    width: 100%;
}
thead tr {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    background-color: #f2f2f2;
}
thead td {
    text-align: center;
    padding: 10px 0;
    border-right: 1px solid #ccc;
}
thead td:nth-child(1) {
    width: 10%;
}
thead td:nth-child(2) {
    width: 10%;
}
thead td:nth-child(3) {
    width: 10%;
}
thead td:nth-child(4) {
    width: 10%;
}
thead td:nth-child(5) {
    width: 10%;
}
thead td:nth-child(6) {
    width: 10%;
}
thead td:nth-child(7) {
    width: 40%;
    border-right: none;
}

tbody tr {
    border-bottom: 1px solid #ccc;
}
tbody td {
    padding: 15px 5px;
    border-right: 1px solid #ccc;
    text-align:center;
    vertical-align:middle;
}
tbody td:nth-child(1) {
    width: 10%;
}
tbody td:nth-child(2) {
    width: 10%;
}
tbody td:nth-child(3) {
    width: 10%;
}
tbody td:nth-child(4) {
    width: 10%;
}
tbody td:nth-child(5) {
    width: 10%;
}
tbody td:nth-child(6) {
    width: 10%;
}
tbody td:nth-child(7) {
    width: 40%;
    border-right: none;
}
.approved {
    background-color: #dcdcdc;
}
.disapprove {
    background-color: #FADBDA;
}
.work-schedule:hover {
    background-color: #FFFFEF;
}

.month-button {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
input[type="submit"] {
    padding: 0 10px;
    height: 24px;
    border-radius: 4px;
    font-size: 12px;
    background-color: #fff;
    color: #000;
    border: 1px solid #ccc;
}

.account-info {
    width: 40%;
    margin-bottom: 20px;
}
.account-table {
    border: 1px solid #ccc;
}
.account-table thead {
    background-color: #f2f2f2;

}
.account-table td {
    padding: 6px 0;
}