/*外側*/
.login-wrapper {
    height: 100vh;           /* 画面の高さを要素の高さにする*/
    display: flex;               /*flexが使えるようにするレイアウトの仕組み。*/
    justify-content: center;     /*縦方向に中央寄せ*/
    align-items: center;         /*横方向に中央寄せ*/
    background: #e9e9e9;         /*背景色を薄いグレーにする*/
}

/*内側*/
.login-card {
    background: #fff;
    padding: 30px 40px;
    border-radius: 10px;
    width: 360px;
}

.login-card h1 {
    text-align: center;
}

.login-wrapper form {
    width: 100%;                /* フォーム全体の横幅 */
    display: flex;               /* 中身をflexboxにする */
    flex-direction: column;      /* 中の項目を縦並びに */
    gap: 12px;                   /* 項目同士の間に12pxの隙間を入れる */
}

.login-wrapper input{
    font-size: 16px;
    padding: 0px 10px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius:5px;
    width: 100%;
}

.login-wrapper button {
    text-align: center;
    padding: 10px 0px;
    width: 150px;
    margin: 0 auto;
    border-radius: 6px;          /* 角丸 */
    background: #ccc
}
