body {
    background-color: #f2f2f2;
    font-size: 14px;
}

.contents {
    padding: 0 20px; /* 横の余白 */
    padding-top: 70px; /* 追従ヘッダー実装に伴う調整 */
    max-width: 1000px; /* 表示幅の長さの設定 */
    margin: 0 auto; /* 真ん中に合わせる*/
    margin-bottom: 40px;
}
h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
}

.menu {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}
.button {
    width: 120px;
    height: 24px;
    border-radius: 4px;
    font-size: 12px;
    background-color: #fff;
    color: #000;
    border: 1px solid #ccc;
}
.button a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* エラーメッセージ全体の見た目 */
.errorMessages {
    color: #d32f2f;           /* 濃い赤（視認性の高い赤） */
    background-color: #fdecea; /* 薄いピンクの背景*/
    border: 1px solid #f5c6cb; /*枠線も淡い赤　solidは実線*/
    border-radius: 4px;        /* 角を丸める */
    padding: 8px 12px;         /* 余白 上下　左右*/
    margin-bottom: 16px;       /* フォームとの間隔 「上」なら対応するのは margin-top*/
    list-style-type: none;     /* 点（・）を消す */
}


/*ヘッダー */
.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    z-index: 2;
    display: flex;
    background-color: #fff;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.first-contents {
    width: 15%;
    font-size: 20px;
    display:flex;
    align-items: center;
    padding-left: 10px;
    border-right: 1px solid #ccc;
    font-weight: bold;
}
.second-contents {
    display: flex;
    width: 75%;
}
.header-button {
    width: 15%;
    height: 50px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #ccc;
}
.header-button a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.third-contents {
    border-left: 1px solid #ccc;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

/* ヘッダー */
.form-table {
    width: 100%;
    border: 1px solid #ccc;
    border-spacing: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
}
.form-table tr {
    height: 60px;
    border-bottom: 1px solid #ccc;
}
.form-table tr:last-child {
    border-bottom: none;
}
.form-table td {
    vertical-align:middle;
}

/*
.form-table input{
    font-size: 16px;
    padding: 0px 10px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius:5px;
    width: 100%;
}
*/

.form-table select {
    font-size: 16px;
    padding: 0px 10px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius:5px;
    width: 40%;
}
.form-table input{
    font-size: 16px;
    padding: 0px 10px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius:5px;
    width: 20%;
}
.form-table textarea {
    font-size: 16px;
    padding: 0px 10px;
    border: 1px solid #ccc;
    border-radius:5px;
    width: 100%;
}
.form-table .first {
    width: 30%;
    background-color: #f2f2f2;
    padding-left: 15px;
    font-weight: 900;
    border-right: 1px solid #ccc;
}
.form-table .second {
    width: 70%;
    background-color: #fff;
    padding: 0 15px;
}
.form-table .second input {
    box-sizing: border-box;
}

.button-content {
    text-align: center;
    margin-top: 20px;
}

.button {
    height: 60px;
    border-radius: 30px;
    width: 200px;
    background-color: #fff;
    border: 1px solid #ccc;
    margin: 0 auto;
    font-size: 14px;
    font-weight: bold;
}