body {
    background-color: #f2f2f2;
    font-size: 14px;
}

.contents {
    padding: 0 20px; /* 横の余白 */
    max-width: 1000px; /* 表示幅の長さの設定 */
    margin: 0 auto; /* 真ん中に合わせる*/
}
h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
}

.menu {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}
.button {
    width: 120px;
    height: 24px;
    border-radius: 4px;
    font-size: 12px;
    background-color: #fff;
    color: #000;
    border: 1px solid #ccc;
}
.button a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* エラーメッセージ全体の見た目 */
.errorMessages {
    color: #d32f2f;           /* 濃い赤（視認性の高い赤） */
    background-color: #fdecea; /* 薄いピンクの背景*/
    border: 1px solid #f5c6cb; /*枠線も淡い赤　solidは実線*/
    border-radius: 4px;        /* 角を丸める */
    padding: 8px 12px;         /* 余白 上下　左右*/
    margin-bottom: 16px;       /* フォームとの間隔 「上」なら対応するのは margin-top*/
    list-style-type: none;     /* 点（・）を消す */
}
