<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>アカウント編集画面</title>
    <link th:href="@{/css/reset.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="first-contents">
            勤怠管理
        </div>
        <div class="second-contents">
            <div class="header-button">
                <a th:href="@{/home}">ホーム</a>
            </div>
            <div class="header-button">
                <a th:href="@{/logout}">ログアウト</a>
            </div>
            <div class="header-button">
                <a th:href="@{/edit-password}">パスワード変更</a>
            </div>
            <div class="header-button" th:if="${loginUser.type == 0 || loginUser.type == 3}">
                <a th:href="@{/admin}">管理者権限画面</a>
            </div>
            <div class="header-button" th:if="${loginUser.type == 1 || loginUser.type == 3}">
                <a th:href="@{/approve}">承認者権限画面</a>
            </div>
        </div>
        <div class="third-contents">
            <p th:text="${loginUser.name}"></p>
        </div>
    </header>

    <div class="contents">
        <h1>アカウント編集画面</h1>
        <!--エラーメッセージ-->
        <div th:if="${errorMessages != null}">
            <ul class="errorMessages">
                <li th:each="err : ${errorMessages}" th:text="${err}"></li>
            </ul>
        </div>

        <form method="post" th:object="${accountEditForm}" th:action="@{/account-edit}">
            <input type="hidden" th:field="*{id}">
            <input type="hidden" th:field="*{isStopped}">
            <input type="hidden" th:field="*{createdDate}">
            <input type="hidden" th:field="*{updatedDate}">
            <input type="hidden" th:field="*{checkAccount}">
            <table class="form-table">
                <tbody>
                    <tr>
                        <td class="first">
                            <!--フォームの名前-->
                            アカウント
                        </td>
                        <td class="second">
                            <!--フォームタグはここに-->
                            <input type="text" th:field="*{account}">
                        </td>
                    </tr>
                    <tr>
                        <td class="first">
                            <!--フォームの名前-->
                            名前
                        </td>
                        <td class="second">
                            <!--フォームタグはここに-->
                            <input type="text" th:field="*{name}">
                        </td>
                    </tr>
                    <tr>
                        <td class="first">
                            <!--フォームの名前-->
                            部署
                        </td>
                        <td class="second">
                            <!--フォームタグはここに-->
                            <select th:field="*{departmentId}">
                                <option value="">選択してください</option>
                                <option value="0">人事部</option>
                                <option value="1">総務部</option>
                                <option value="2">営業部</option>
                                <option value="3">技術部</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="first">
                            <!--フォームの名前-->
                            区分
                        </td>
                        <td class="second">
                            <!--フォームタグはここに-->
                            <select th:field="*{type}">
                                <option value="">選択してください</option>
                                <option value="0">管理者</option>
                                <option value="1">承認者</option>
                                <option value="2">一般</option>
                                <option value="3">管理者兼承認者</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="first">
                            <!--フォームの名前-->
                            パスワード
                        </td>
                        <td class="second">
                            <!--フォームタグはここに-->
                            <input type="password" th:field="*{password}">
                        </td>
                    </tr>
                    <tr>
                        <td class="first">
                            <!--フォームの名前-->
                            パスワード（確認用）
                        </td>
                        <td class="second">
                            <!--フォームタグはここに-->
                            <input type="password" th:field="*{passwordConfirm}">
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="button-content">
                <input type="submit" value="アカウントを編集する" class="button">
            </div>

        </form>
    </div>
</body>
</html>