<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>アカウント編集画面</title>
</head>
<body>
    <h1>アカウント登録画面</h1>

    <!--エラーメッセージ-->
    <div th:if="${errorMessages != null}">
        <ul>
            <li th:each="err : ${errorMessages}" th:text="${err}"></li>
        </ul>
    </div>

    <form method="post" th:object="${accountEditForm}" th:action="@{/account-edit}">
        <input type="hidden" th:field="*{id}">
        <input type="hidden" th:field="*{isStopped}">
        <input type="hidden" th:field="*{createdDate}">
        <input type="hidden" th:field="*{updatedDate}">
        <input type="hidden" th:field="*{checkAccount}">
        <div>
            <label>アカウント</label>
            <input type="text" th:field="*{account}">
        </div>

        <div>
            <label>名前</label>
            <input type="text" th:field="*{name}">
        </div>

        <div>
            <label>部署</label>
            <select th:field="*{departmentId}">
                <option value="">選択してください</option>
                <option value="0">人事部</option>
                <option value="1">総務部</option>
                <option value="2">営業部</option>
                <option value="3">技術部</option>
            </select>
        </div>

        <div>
            <label>区分</label>
            <select th:field="*{type}">
                <option value="">選択してください</option>
                <option value="0">管理者</option>
                <option value="1">承認者</option>
                <option value="2">一般</option>
                <option value="3">管理者兼承認者</option>
            </select>
        </div>

        <div>
            <label>パスワード</label>
            <input type="password" th:field="*{password}">
        </div>

        <div>
            <label>パスワード（確認用）</label>
            <input type="password" th:field="*{passwordConfirm}">
        </div>

        <input type="submit" value="アカウントを編集する">
    </form>
</body>
</html>