<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/reset.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/admin.css}" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="first-contents">
            勤怠管理
        </div>
        <div class="second-contents">
            <div class="header-button">
                <a th:href="@{/home}">ホーム</a>
            </div>
            <div class="header-button">
                <a th:href="@{/logout}">ログアウト</a>
            </div>
            <div class="header-button">
                <a th:href="@{/edit-password}">パスワード変更</a>
            </div>
            <div class="header-button" th:if="${loginUser.type == 0 || loginUser.type == 3}">
                <a th:href="@{/admin}">管理者権限画面</a>
            </div>
            <div class="header-button" th:if="${loginUser.type == 1 || loginUser.type == 3}">
                <a th:href="@{/approve}">承認者権限画面</a>
            </div>
        </div>
        <div class="third-contents">
            <p th:text="${loginUser.name}"></p>
        </div>
    </header>

    <div class="contents">
        <h1>管理者権限画面</h1>

        <div class="admin_button"><a th:href="@{/account-register}">アカウントを登録する</a></div>
        <div th:if="${errorMessages != null}">
            <ul class="errorMessages">
                <li th:each="err : ${errorMessages}" th:text="${err}"></li>
            </ul>
        </div>
        <table>
            <thead>
            <tr>
                <td>アカウント</td>
                <td>氏名</td>
                <td>部署</td>
                <td>区分</td>
                <td>ユーザー停止状態</td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="u : ${userList.content}">
                <!--アカウント-->
                <td><p th:text="${u.account}"></p></td>

                <!--氏名-->
                <td><p th:text="${u.name}"></p></td>

                <!--部署-->
                <td><p th:text="${
                    u.departmentId == 0 ? '人事部' :
                    u.departmentId == 1 ? '総務部' :
                    u.departmentId == 2 ? '営業部' :
                    u.departmentId == 3 ? '技術部' :
                    '不明'
                }"></p></td>

                <!--区分-->
                <td><p th:text="${
                    u.type == 0 ? '管理者' :
                    u.type == 1 ? '承認者' :
                    u.type == 2 ? '一般' :
                    u.type == 3 ? '管理者兼承認者' :
                    '不明'
                }"></p></td>

                <!--ユーザー停止状態-->
                <td><p th:text="${
                    u.isStopped == 0 ? '停止状態' :
                    u.isStopped == 1 ? '稼働状態' :
                    '不明'
                }"></p>

                    <form th:if="${u.isStopped == 0}" th:action="@{/isActived/{id}(id=${u.id})}" method="post" onsubmit="return confirm('本当に復活させますか？');">
                        <button type="submit" class="active-button">復活する</button>
                    </form>

                    <form th:if="${u.isStopped == 1}" th:action="@{/isStopped/{id}(id=${u.id})}" method="post" onsubmit="return confirm('本当に停止しますか？');">
                        <input type="hidden" value="u.id">
                        <button type="submit" class="stop-button">停止する</button>
                    </form>
                </td>

                <td>
                    <form th:action="@{/account-edit/{id}(id=${u.id})}" method="get">
                        <button type="submit" class="edit-button">編集する</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>

        <nav class="pager">
            <!-- 前へ -->
            <a th:if="${userList.hasPrevious()}"
               th:href="@{/admin(page=${userList.number})}">前へ</a>

            <!-- 最大3件の数字のみ表示 -->
            <span th:with="
            currentPage=${userList.number + 1},
            total=${userList.totalPages},
            start=${currentPage <= 2 ? 1 : currentPage - 1},
            end=${start + 2 > total ? total : start + 2}
            ">

                <span th:each="i : ${#numbers.sequence(start, end)}">

                    <!-- 現在ページ以外はリンク -->
                    <a th:if="${i != currentPage}"
                       th:href="@{/admin(page=${i})}"
                       th:text="${i}"></a>

                    <!-- 現在ページは強調表示 -->
                    <span th:if="${i == currentPage}"
                          th:text="${i}" class="current"></span>
                </span>
            </span>
            <!-- 次へ -->
            <a th:if="${userList.hasNext()}"
               th:href="@{/admin(page=${userList.number + 2})}">次へ</a>
        </nav>

    </div>

</body>
</html>