<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>承認者権限画面</title>
        <link th:href="@{/css/reset.css}" rel="stylesheet">
        <link th:href="@{/css/style.css}" rel="stylesheet">
        <link th:href="@{/css/approve.css}" rel="stylesheet">
    </head>
    <body>
        <header class="header">
            <div class="first-contents">
                勤怠管理
            </div>
            <div class="second-contents">
                <div class="header-button">
                    <a th:href="@{/home}">ホーム</a>
                </div>
                <div class="header-button">
                    <a th:href="@{/logout}">ログアウト</a>
                </div>
                <div class="header-button">
                    <a th:href="@{/edit-password}">パスワード変更</a>
                </div>
                <div class="header-button" th:if="${loginUser.type == 0 || loginUser.type == 3}">
                    <a th:href="@{/admin}">管理者権限画面</a>
                </div>
                <div class="header-button" th:if="${loginUser.type == 1 || loginUser.type == 3}">
                    <a th:href="@{/approve}">承認者権限画面</a>
                </div>
            </div>
            <div class="third-contents">
                <p th:text="${loginUser.name}"></p>
            </div>
        </header>
        <div class="contents">

            <!--勤怠一覧-->
            <h1>承認待ち勤怠一覧</h1>
            <!-- 現在ログイン中の承認者の部署を表示 -->
            <div class="current-dept">
                <span>承認対象部署：</span>

                <span th:switch="${loginUser.departmentId}">
                    <span th:case="0">人事部</span>
                    <span th:case="1">総務部</span>
                    <span th:case="2">営業部</span>
                    <span th:case="3">技術部</span>
                </span>
            </div>


            <!--エラーメッセージ-->
            <div th:if="${errorMessages != null}">
                <ul class="errorMessages">
                    <li th:each="err : ${errorMessages}" th:text="${err}"></li>
                </ul>
            </div>

            <form th:action="@{/approve}" method="post">
                <div class="submit-button">
                    <button type="submit" name="mode" value="permit" onclick="return confirm('本当に承認しますか？');">一括承認</button>
                    <button type="submit" name="mode" value="reject" onclick="return confirm('本当に差戻ししますか？');">一括差戻し</button>
                </div>
                <table>
                    <thead>
                    <tr>
                        <th>氏名</th>
                        <th>日付</th>
                        <th>勤務区分</th>
                        <th>勤務開始時刻</th>
                        <th>勤務終了時刻</th>
                        <th>休憩時間</th>
                        <th>メモ</th>
                        <th>選択</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="a : ${attendances}">
                        <td th:text="${a.user.name}"></td>
                        <td th:text="${a.date}"></td>
                        <td th:switch="${a.workType}">
                            <span th:case="1">顧客業務（オンサイト）</span>
                            <span th:case="2">顧客業務（オフサイト）</span>
                            <span th:case="3">社内業務（オンサイト）</span>
                            <span th:case="4">社内業務（オフサイト）</span>
                        </td>
                        <td th:text="${a.startTime}"></td>
                        <td th:text="${a.endTime}"></td>
                        <td th:text="${a.rest}"></td>
                        <td th:text="${a.memo}"></td>
                        <td><input type="checkbox" name="attendanceId" th:value="${a.id}"></td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>

    </body>
</html>