<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>勤怠編集画面</title>
</head>
<body>
<h1>勤怠編集</h1>

    <!--エラーメッセージ-->
    <div th:if="${errorMessages != null}">
        <ul>
            <li th:each="err : ${errorMessages}" th:text="${err}"></li>
        </ul>
    </div>

<form th:action="@{/attendance-edit/}"
      th:object="${attendancesEditForm}" method="post">
    <div class="date" th:text="${attendancesEditForm.date}"></div>
    <input type="hidden" th:field="*{id}">
    <input type="hidden" th:field="*{userId}">
    <input type="hidden" th:field="*{date}">
    <div>
        <label>勤務区分</label>
        <select th:field="*{workType}">
            <option value="" th:selected="${workType == null}">--勤務区分を選択--</option>
            <option value="1" th:selected="${workType == 1}">顧客業務（オンサイト）</option>
            <option value="2" th:selected="${workType == 2}">顧客業務（オフサイト）</option>
            <option value="3" th:selected="${workType == 3}">社内業務（オンサイト）</option>
            <option value="4" th:selected="${workType == 4}">社内業務（オフサイト）</option>
            <option value="5" th:selected="${workType == 5}">欠勤</option>
            <option value="6" th:selected="${workType == 6}">有給休暇（全体）</option>
            <option value="7" th:selected="${workType == 7}">有給休暇（半休）</option>
            <option value="8" th:selected="${workType == 8}">代休</option>
            <option value="9" th:selected="${workType == 9}">有給休暇（半休）</option>
            <option value="10" th:selected="${workType == 10}">代休</option>
        </select>
    </div>

    <div>
        <label>勤務開始時刻</label><br>
        <input type="time" th:field="*{startTime}"><br>
    </div>

    <div>
        <label>勤務終了時刻</label><br>
        <input type="time" th:field="*{endTime}"><br>
    </div>

    <div>
        <label>休憩時間（分）</label><br>
        <input type="number" th:field="*{rest}" min="0">
    </div>

    <div>
        <label>申請しますか？</label>
        <select th:field="*{status}">
            <option value="0" th:selected="${status == null}">申請しない</option>
            <option value="1" th:selected="${status == 1}">申請する</option>
        </select>
    </div>

    <div>
        <label>メモ（50文字以内）</label>
        <textarea th:field="*{memo}" maxlength="50"></textarea>
    </div>

    <input type="submit" value="勤怠を編集する">
</form>
    <form th:action="@{/attendance-delete}" th:object="${attendancesEditForm}" method="post">
        <input type="hidden" th:field="*{id}">
        <input type="submit" value="勤怠を削除する">
    </form>

</body>
</html>