<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script th:src="@{/js/script.js}"></script>
    <link th:href="@{/css/reset.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <title>Title</title>
</head>
<body>
    <div class="contents">
        <h1>ホーム画面</h1>

        <div class="menu">
            <!--ログアウトボタン-->
            <div class="button">
                <a th:href="@{/logout}">ログアウト</a>
            </div>
            <!--パスワード変更画面-->
            <div class="button">
                <a th:href="@{/edit-password}">パスワード変更</a>
            </div>
            <!--管理者権限画面-->
            <div th:if="${loginUser.type == 0}" class="button">
                <a th:href="@{/admin}">管理者権限画面</a>
            </div>
        </div>

        <div th:if="${errorMessages != null}">
            <ul class="errorMessages">
                <li th:each="err : ${errorMessages}" th:text="${err}"></li>
            </ul>
        </div>
        <form th:action="@{/home}" th:object="${attendancesSearchForm}" method="get">
            <input type="hidden" name="date" th:value="${prevMonth}">
            <input type="submit" value="前月へ">
        </form>
        <form th:action="@{/home}" th:object="${attendancesSearchForm}" method="get">
            <input type="hidden" name="date" th:value="${nextMonth}">
            <input type="submit" value="翌月へ">
        </form>

        <table>
            <thead>
            <tr>
                <td>日付</td>
                <td>勤務区分</td>
                <td>開始</td>
                <td>終了</td>
                <td>休憩時間</td>
                <td>労働時間</td>
                <td>メモ</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="date : ${allDates}"
                th:with="att=${attendancesList[date.toString()]}"
                style="cursor:pointer;"
                th:onclick="${att != null} ?
                'location.href=\'/mugichaLatte/attendance-edit/' + ${att.id} + '\'' :
                'location.href=\'/mugichaLatte/attendance/register\''">
                <!-- 日付 -->
                <td th:text="${date}"></td>

                <!-- 勤務タイプ -->
                <td>
                    <p th:text="${
                            att != null ?
                            (att.workType == 1 ? '顧客業務（オンサイト）' :
                             att.workType == 2 ? '顧客業務（オフサイト）' :
                             att.workType == 3 ? '社内業務（オンサイト）' :
                             att.workType == 4 ? '社内業務（オフサイト）' :
                             att.workType == 5 ? '欠勤' :
                             att.workType == 6 ? '有給休暇（全体）' :
                             att.workType == 7 ? '有給休暇（半休）' :
                             att.workType == 8 ? '代休' :
                             att.workType == 9 ? '夏季休暇' :
                             att.workType == 10 ? '忌引休暇' : '')
                            : ''
                        }"></p>
                </td>

                <!-- startTime -->
                <td>
                    <p th:text="${att != null ? att.startTime : ''}" class="startTime"></p>
                </td>

                <!-- endTime -->
                <td>
                    <p th:text="${att != null ? att.endTime : ''}" class="endTime"></p>
                </td>

                <!-- rest -->
                <td>
                    <p th:text="${att != null ? att.rest : ''}" class="rest"></p>
                </td>

                <!-- workTime は JS 計算？ 空欄 -->
                <td class="workTime"></td>

                <!-- memo -->
                <td>
                    <p th:text="${att != null ? att.memo : ''}"></p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>