<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>ログイン画面</title>
    </head>
    <body>
        <h1>ログイン</h1>

        <!--エラーメッセージ-->
        <div th:if="${errorMessage != null}">
            <ul>
                <li th:each="err : ${errorMessages}" th:text="${err}"></li>
            </ul>
        </div>

        <!--入力フォーム-->
        <form th:action="@{/login}" th:object="${loginForm}" method="post">
            <label>アカウント</label>
            <input type="text" th:field="*{account}"><br>
            <label>パスワード</label>
            <input type="password" th:field="*{password}"><br>
            <button type="submit">ログイン</button>
        </form>
    </body>
</html>